<%- include('partials/header'); -%>
<body>
  <div class="align">
    <h1>Home</h1>
    <p><%=homeStartingContent%></p>
    <%posts.forEach(post=>{%>
    <h1><%=post.title%></h1>
    <p><%=post.titleContent.substring(0,100)+"..."%></p>
    <%})%>
  </div>
</body>
<%- include('partials/footer'); -%>
